body {
    font-family: 'Poppins', sans-serif;
    color: #555;
}

 ::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

 ::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

 ::-webkit-scrollbar-thumb {
    background-color: #999;
}

.container {
    width: 83%;
}

.brand-logo span {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
}

.brand-logo img {
    display: inline-block;
    vertical-align: middle;
}

.brand-logo p {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 10px;
}

#nav-mobile li.line-bw:after {
    content: "";
    width: 1px;
    height: 15px;
    background-color: #555;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
}

#nav-mobile li {
    position: relative;
    min-width: 100px;
    text-align: center;
}

nav ul a {
    font-size: 14px;
    font-weight: 400;
}

nav {
    position: fixed;
    top: 0;
    z-index: 2;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
    height: 69px;
    line-height: 69px;
}

@media (max-width:600px) {
    nav {
        position: initial;
    }
}


/*=============================================================
========================   Home  ==============================
=============================================================*/

.img-responsive {
    width: 100%;
}

main.container-fluid {
    margin-top: 69px;
}

@media (max-width:600px) {
    main.container-fluid {
        margin-top: 0;
    }
}

.banner {
    background-image: url(../images/banner-1920x842.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 90vh;
}

.profile-card {
    max-width: 400px;
    overflow: hidden;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    bottom: 0;
    background-color: #fff;
    top: 25%;
    max-height: 400px;
    min-height: 400px;
    z-index: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.brand-name {
    float: left;
    padding-left: 25px;
}

.brand-name p {
    display: inline-block;
    font-size: 24px;
    color: #555;
    line-height: 1;
    width: 150px;
}

.brand-name span {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
}

.social-icons {
    float: right;
    margin-top: 3rem;
    padding-right: 25px;
}

.social-icons i {
    font-size: 30px;
    margin: 0 7px;
    color: #555;
}

.social-icons i.fa-instagram {
    margin-right: 0;
}

.social-icons i.fa.fa-facebook {
    font-size: 24px;
}

a.arrow-down {
    position: absolute;
    bottom: 3rem;
    right: 4rem;
}


/*====================================================
=======================MY Folio=======================
====================================================*/

.my-folio {
    background-image: url(../images/section-bg-1920x940.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding: 1rem 0;
    background-attachment: fixed;
}

h1 {
    margin: 0;
    font-size: 57px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 100px 0 25px;
}

.my-folio p {
    line-height: 25px;
    font-weight: 300;
    font-size: 15px;
    margin: 0;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
    position: relative;
}

legend {
    padding: 0;
    border: 0;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

.progress {
    height: 5px;
    margin-top: 0;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #ddd;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    position: relative;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #555;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-striped .progress-bar,
.progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress.active .progress-bar,
.progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-success {
    background-color: #5cb85c;
}

.progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-info {
    background-color: #5bc0de;
}

.progress-striped .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-warning {
    background-color: #f0ad4e;
}

.progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-danger {
    background-color: #d9534f;
}

.progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-block legend {
    font-weight: 600;
    font-size: 18px;
    color: #999;
    margin-bottom: 10px;
}

.margin-50 {
    margin-top: 50px;
}

.left-right-clr {
    margin-left: -15px;
    margin-right: -15px;
}

.bubble-box {
    display: inline-block;
    width: 50px;
    border-radius: 5px;
    height: 30px;
    background-color: #555;
    color: #fff;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: -5px;
}

.right-max {
    left: 85.5%;
}

.right-medium {
    left: 75.5%;
}

.right-low {
    left: 65.5%;
}

.bubble-box:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid #555;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
}

.bubble-box:before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 50%;
    background-color: #555;
    bottom: -20px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
}

.xprnc-card {
    background-color: #fff;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.30);
    padding: 1.5rem;
    box-sizing: border-box;
    display: inline-block;
}

.xprnc-card p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 25px;
}

h3 {
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.btn-black {
    background-color: #333;
}

.btn {
    border-radius: 0;
    height: 40px;
    line-height: 40px;
    text-transform: inherit;
    font-weight: 300;
    font-size: 16px;
}

.btn-black:hover {
    background-color: #555;
}


/*====================================================
=======================Skills=======================
====================================================*/

.skills {
    background-image: url(../images/skills-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    min-height: 90vh;
    padding: 10% 0;
}

.creative {
    text-align: right;
}

h2.ylw-clr {
    color: #fcc812;
}

h2 {
    color: #555;
    font-size: 30px;
    font-weight: 400;
}

.skills p {
    color: #999;
    font-size: 15px;
    font-weight: 400;
}

@media(max-width:600px) {
    .skills {
        background-size: contain;
        text-align: center;
    }
    .creative {
        text-align: center;
    }
    h1 {
        padding-top: 40px;
        font-size: 47px;
    }
    .profile-card {
        max-width: 340px;
        min-height: 200px;
        max-height: 360px;
        bottom: 0;
        margin: auto;
    }
    .social-icons {
        padding-right: 15px;
    }
    .brand-name {
        padding-left: 15px;
    }
    .brand-logo p {
        font-size: 18px;
    }
    .brand-logo span {
        font-size: 13px;
    }
    .my-folio {
        padding-bottom: 1rem;
    }
}


/*====================================================
=======================Works=======================
====================================================*/

.works {
    min-height: 100vh;
}

.works img {
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid #f1f1f1;
}

.works img:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.works p {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 400;
}


/*====================================================
=======================Contact=======================
====================================================*/

.contact {
    background-image: url(../images/contact-bg.jpg);
    background-repeat: no-repeat;
    background-position: 75% center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    margin-bottom: -20px;
    padding-bottom: 1rem;
    background-attachment: fixed;
}

.contact a {
    color: #fff;
}

input[type="text"],
input[type="email"],
input[type="file"],
textarea {
    border: 1px solid #fff !important;
    padding: 15px !important;
    box-sizing: border-box !important;
    margin-bottom: 20px !important;
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0.20) !important;
    width: 100%;
}

textarea {
    resize: none;
    min-height: 150px;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border: 1px solid #c1c1c1 !important;
    box-shadow: inherit !important;
}

.contact p {
    margin-bottom: 15px;
    color: #fff;
}

.clearfix {
    clear: both;
}


/*==========================================================
POP UP
==========================================================*/

.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    display: inline-block;
}

.work-pop {
    position: absolute;
    background-color: #fff;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    top: -50px;
    height: auto;
    min-height: calc(100vh - 75px);
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

.work-items {
    max-height: 310px;
    overflow: hidden;
    margin-bottom: 1rem;
}

h4 {
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 0.75rem !important;
}

.work-pop-container {
    position: fixed;
    width: 100%;
    height: 81vh;
    background-color: #525252;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px -5px 20px 0 rgba(0, 0, 0, 0.5);
}

.work-item-block {
    display: inline-block;
    max-height: 72.9vh;
    min-height: 72vh;
    overflow-x: auto;
    width: 100%;
}

a.sidenav-trigger {
    float: right;
    color: #555;
    font-size: 30px;
}

.dropdown-content {
    top: 70px !important;
    min-width: 150px;
}

@media (max-width:992px) {
    .dropdown-content {
        top: 100px !important;
    }
    .bubble-box {
        margin-left: -8px;
    }
}


/*============================================
-----------------------------portfolio--------
============================================*/

section.port-banner {
    background-color: #222;
    min-height: 60vh;
    position: relative;
}

.port-head {
    color: #fff;
}

.port-head p {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
}

.default-btn {
    background-color: transparent;
    border: 2px solid #fff;
    width: 150px;
    height: 40px;
    font-weight: 400;
    transition: 1s;
}

.mock-mac {
    position: absolute;
    top: 95px;
}

.default-btn:hover {
    background-color: #fff;
    color: #222;
    border: 2px solid #555;
}

@media (max-width:992px) {
    .mock-mac {
        top: 320px;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 500px;
    }
    section.port-intro {
        margin-top: 170px;
    }
}

@media (max-width:600px) {
    .mock-mac {
        top: 250px;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 350px;
        width: 90%;
    }
    section.port-intro {
        margin-top: 200px;
    }
}

h1.port-head-intro {
    padding-top: 15px;
}

.port-intro p {
    text-align: justify;
    font-size: 14px;
}

section.template-moc {
    min-height: 530px;
    background-color: #777;
    position: relative;
    margin-top: 350px;
}

.desk-view {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
    line-height: 0;
    margin-top: -350px;
}

.mobile-view {
    margin-top: -50px;
}

.invert-white {
    border: 2px solid #555;
    color: #555;
    width: 125px;
}

.explore-btn {
    min-height: 180px;
    padding-top: 5rem;
    text-align: right;
}

.template-moc .btn {
    margin-top: 15px;
}

@media (max-width:1024px) {
    .md-vis-none {
        display: none;
    }
    .port-head h1 {
        padding-top: 80px;
    }
    .desk-view.sm-vis-none {
        margin-top: -250px;
    }
    section.template-moc {
        margin-top: 250px;
        padding-bottom: 1rem;
    }
}

@media (max-width:600px) {
    .nav-wrapper.container {
        width: 90%;
    }
    .sm-vis-none {
        display: none;
    }
    .md-vis-none {
        display: block;
    }
    .mobile-view img {
        max-width: 100% !important;
        width: inherit;
    }
    section.template-moc {
        margin-top: 70px;
    }
    .port-head h1 {
        font-size: 34px;
    }
    .contact {
        background-position: 70%;
    }
}

.contact h1 {
    color: #fff;
}

.btn-fill {
    background-color: #fff;
    color: #222 !important;
    text-transform: uppercase;
}

footer {
    color: #fff;
    margin-top: 1rem;
}

ul.sidenav {
    background-image: url(../images/banner-1920x842.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.sidenav li>a {
    background-color: rgba(255, 255, 255, 0.60);
    color: #222;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


/*Manpower*/

section.manpower-moc {
    background-color: #FFEB3B;
}

.port-head-intro i {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}


/*Light Box*/

.light-box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.94);
    z-index: 2;
    display: none
}

.light-box img {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: calc(100vh - 150px);
    max-width: 100%;
}

.light-box i {
    font-size: 30px;
    position: absolute;
    top: 5%;
    right: 5%;
    color: #888;
    cursor: pointer;
}

.light-box .fa-angle-left {
    left: 10%;
    top: 0;
    bottom: 0;
    height: 20px;
    margin: auto;
    font-size: 4rem;
}

.light-box .fa-angle-right {
    right: 10%;
    top: 0;
    bottom: 0;
    height: 20px;
    margin: auto;
    font-size: 4rem;
}


/*===========================================================BLOG===============================================================*/

.blog-welcm h1 {
    font-size: 40px;
    padding: 2rem 0 0;
}

.blog-welcm p.welcm-note {
    font-weight: 300;
    text-align: justify;
}

.blog-welcm i {
    font-weight: 800;
}

.sm-profile-card {
    background-color: #fff;
    box-shadow: 0 0px 13px 0 rgba(0, 0, 0, 0.10);
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 1.5rem 0 0.5rem;
    margin-top: 2.4rem;
}

.sm-profile-card .social-icons {
    float: none;
    margin: 1.5rem 0 2rem;
    padding: 0;
}

.sm-profile-card .social-icons i {
    font-weight: 400;
    font-size: 24px !important;
}

.sm-profile-card .social-icons i.fa-facebook {
    font-size: 21px !important;
}

.pro-img {
    display: inline-block;
}

.pro-img img {
    border-radius: 50%;
}

.connect-hd p {
    display: inline-block;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 50px;
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 116px;
    margin: auto;
    height: 25px;
    line-height: 25px;
    background-color: #fff;
}

.connect-hd {
    height: 1px;
    background-color: #ddd;
    position: relative;
    margin-bottom: 2rem;
}

.blog-vdo h2 {
    font-size: 40px;
    font-weight: 800;
}

.round-btn {
    text-align: left;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 60px;
    padding: 5px;
    width: 40px;
    overflow: hidden;
    transition: 0.5s;
    vertical-align: middle;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.round-btn img {
    margin-right: 10px;
}

.marginTop-20 {
    margin-top: 20px;
}

.round-btn:hover {
    background-color: #fff;
    color: #222;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 130px;
}

@media (max-width:600px) {
    .bubble-box {
        top: -41px;
    }
    a.arrow-down {
        display: none;
    }
}

input.btn.default-btn.btn-fill {
    width: 100%;
    padding: 5.5px !important;
    height: auto;
}


/* Blog Slider */

img.thumbnail-blog {
    display: inline-block !important;
    border-radius: 100%;
    border: 1px solid #ddd;
    margin: 0;
}

a.pops-up-toggle {
    border-radius: 100%;
    border: 4px solid #000000;
    display: inline-grid;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

@media (max-width:768px) {
    .blog-hrs .item {
        text-align: center;
    }
}


/* Slider Blog */

.blog-recent .item {
    display: inline-block;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.15);
}